@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  background-color: #ffff !important;
  overflow-y: hidden;
  position: relative;
}

.scroll-hide::-webkit-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  width: 0; /* Firefox */
}

.card-slider-container {
  width: 100%;
  overflow: hidden;
}
